<header>
    <div id="navbarHeader">
        <div class="container-fluid">
            <div class="row justify-content-between m-3">
                <div class="account_cart">
                    <a href=""><i class="fas fa-shopping-basket"></i></a>
                </div>
                <div class="img-logo">
                    <a href=""><img src="/assets/logo.png" alt="shop logo"></a>
                </div>
                <div *ngIf="loggedIn == 'true'; then showLoggedIntHeader else showDefaultHeader"></div>
                    <ng-template #showLoggedIntHeader>
                        <div class="account_cart">
                            <a routerLink="account"><i class="fas fa-user-alt"></i></a>
                        </div>
                    </ng-template>
                    <ng-template #showDefaultHeader>
                        <div class="account_cart">
                            <a routerLink="signup"><i class="fas fa-user-alt"></i></a>
                        </div>
                    </ng-template>
            </div>
            <div class="row justify-content-md-center">
                <nav class="nav" *ngFor="let category of categories">
                    <a class="nav-link header-link" [routerLink]="['/category', category.id]"
                       [class.selected]="category === selectedCategory"
                       (click)="onSelect(category)">{{category.title}}</a>
                </nav>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
