<div class="container" *ngIf="currentUser">
    <div class="row user-info_header">
        <div class="col-4">
            <div class="row">
                <div class="col-7 user-info_name">
                    <p>{{currentUser.first_name}}</p>
                    <p>{{currentUser.last_name}}</p>
                </div>
                <div class="col-5">
                    <img src="{{ currentUser.profile['image'] }}" alt="image" />
                </div>
            </div>
        </div>
        <div class="col-8 user-info_title">
            <span>Персональная информация</span>
        </div>
    </div>
    <div class="row user-info_main">
        <div class="col-4">
            <nav class="nav flex-column user-info_nav">
                <a class="nav-link" href="#">Личные информация</a>
                <a class="nav-link" href="#">Мои заказы</a>
<!--                <a class="nav-link" href="#">Удалить аккаунт</a>-->
                <a class="nav-link" href="#" (click)="logout()">Выйти из аккаунта</a>
            </nav>
        </div>
        <div class="col-8">
            <form [formGroup]="f" (ngSubmit)="updateInfo(f)" class="user-info_form">
                <div class="form-group">
                    <label for="nameInput">Имя</label>
                    <input type="text" class="form-control" id="nameInput" formControlName="first_name">
                </div>
                <div class="form-group">
                    <label for="lastNameInput">Фамилия</label>
                    <input type="text" class="form-control" id="lastNameInput" formControlName="last_name">
                </div>
                <div class="form-group">
                    <label for="emailInput">Email</label>
                    <input type="email" class="form-control" id="emailInput" formControlName="email">
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="passwordInput">Пароль</label>-->
<!--                    <input type="password" class="form-control" id="passwordInput" formControlName="password">-->
<!--                </div>-->
                <button type="submit" class="black-button">Сохранить</button>
            </form>
        </div>
    </div>
</div>
