<div class="row product">
    <a *ngFor="let item of items" [routerLink]="['/category', id, 'item', item.id]">
        <div class="col-md-auto px-2">
            <div class="product-image"><img src="http://127.0.0.1:8000{{item.image}}" alt="image"/></div>
            <div class="product-cell">
                <div class="item-title">
                    {{item.title}}
                </div>
                <div class="item-price">
                    {{item.price}} <span>₽</span>
                </div>
            </div>
        </div>
    </a>
</div>

