<main class="container-fluid ">
    <div class="row main-content">
        <div class="col-2">
            <app-subcategories></app-subcategories>
        </div>
        <div class="col-10 item-detail" *ngIf="item">
            <div class="row">
                <div class="col-6">
                    <div class="item-image"><img src="{{ item.image }}" alt="image" class="center-cropped"/></div>
                </div>
                <article class="col-5">
                    <h1 class="item-title">{{item.title}}</h1>
                    <div class="item-price">{{item.price}} <span>₽</span></div>
                    <div class="add-to-cart">
                        <button class="black-button">Добавить в корзину</button>
                    </div>
                    <div class="item-description">
                        {{item.description}}
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>
