<main class="container-fluid ">
    <div class="row main-content justify-content-center">
        <form [formGroup]="f" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="loginInput">Логин</label>
                <input type="text" class="form-control" id="loginInput" formControlName="username">
            </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" formControlName="email">
            </div>
            <div class="form-group">
                <label for="passwordInput">Пароль</label>
                <input type="password" class="form-control" id="passwordInput" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary" aria-describedby="buttonHelp">Зарегистрироваться</button>
            <small id="buttonHelp" class="form-text text-muted">Уже зарегистрированы? <a routerLink="/signin">Войти</a></small>
        </form>
    </div>
</main>
