<nav class="nav flex-column">
    <a class="nav-link header-link" *ngFor="let subcategory of subcategories"
       [routerLink]="['/category', id, 'subcategory', subcategory.id]">{{subcategory.title}}</a>
</nav>
