<main class="container-fluid ">
    <div class="row main-content">
        <div class="col-2">
            <app-subcategories></app-subcategories>
        </div>
        <div class="col-10">
            <app-items></app-items>
        </div>
    </div>
</main>

