
html,
body {
  font-family: 'Circle';
  margin: 0;
  padding: 0;
  background-color: #f4f0e9;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus {
  outline: none;
  box-shadow:none;
}
.img-logo img {
  max-width: 214px
}

.nav {
  margin-bottom: 30px;

  a {
    padding: 4px 16px;
    color: #423E3C;
    letter-spacing: 2px;
    font-size: 11px;
    text-transform: uppercase;
  }

  a:hover {
    color: #c6aa9d;
  }

  a:visited {
    text-decoration: none;
  }

  a.selected {
    color: #c6aa9d;
  }
}

.product {
  a {
    color: black;
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  .product-image img {
    width: 268px;
    height: 401px;
    object-fit: cover;
  }

  .product-image img:hover {
    opacity: 0.8;
  }

  .product-cell {
    margin: 10px 0 20px 0;
    font-size: 12px;
    text-align: center;
  }
}

.item-detail {
  font-family: 'Roboto';

  .item-title {
    font-size: 19px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .item-price {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .item-description {
    margin-top: 20px;
    font-size: 14px;
  }

  .item-image img {
    max-width: 100%;
    max-height: 100%;
  }

  .center-cropped {
    object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
    object-position: center; /* Center the image within the element */
    width: 550px;
    height: 850px;
  }
}

.account_cart {
  a {
    text-decoration: none;
    color: #423E3C;
    padding: 5px 5px;
  }

  a:hover {
    color: #c6aa9d;
    text-decoration: none;
  }
}

.user-info_header {
  margin: 40px 0;

  img {
    border-radius: 50%;
    width: 120px;
  }

  .user-info_name p {
    font-size: 36px;
    text-align: right;
    margin-bottom: 0;
    font-weight: 700;
  }

  .user-info_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 120px;
  }
}

.user-info_main {
  .user-info_nav a {
    text-align: right;
    padding-right: 0;
  }

  .user-info_form {
    //color: black;
    color: #423E3C;
    letter-spacing: 2px;
    font-size: 11px;
    text-transform: uppercase;
    padding: 4px 0;
  }
  .user-info_form input {
    font-family: 'Roboto';
    width: 400px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-bottom: 1px solid #c6aa9d;
    padding: 0;
    margin: 0;
    background: transparent;
    //text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
  }
}

.black-button {
  font-family: 'Roboto';
  width: 250px;
  height: 50px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}
